.polllist-container{
    border: 1px solid gainsboro;
}

.questions{
    display: flex;
    font-size: 1.3em;
    justify-content: space-around;
}

.questions p{
    border: 1px solid gainsboro;
    padding: 5px;
    text-align: center;
    width: 50%;
}

.questions p:hover{
    cursor: pointer;
}

.answered, .unanswered{
    color: cornflowerblue;
    font-weight: 600;
}