.polllist-container{
    border: 1px solid black;
    margin: 0 auto;
    width: 60%;
}

.questions{
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    justify-content: space-around;
}

.questions p{
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    width: 50%;
}

.questions p:hover{
    background-color: blue;
}