.result-container{
    border: 1px solid gray;
    margin: 0 auto;
    width: 60%;
}

.result-details{
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.result{
    margin-left: 30px;
}

.result div{
    margin-bottom: 10px;
}

.result span{
    display: block;
}