.question-details{
    display: flex;
    padding: 20px;
    /* align-items: center; */
}

.option-one{
    margin: 20px 10px 20px 0;
}

.option-two{
    margin: 0 10px 20px 0;
}

.question-container button{
    width: 100%;
}