nav{
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: 1.2em;
    margin: 20px 0;
}

.link{
    margin-right: 50px;
    text-decoration: none;
}

.user{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    align-items: center;
}

.user p{
    margin: 0 20px 0;
}

.nav-img{
    border-radius: 50%;
    width: 50px;
    margin-right: 40px;
}